.box {
  display: grid;
  grid-template-columns: minmax(auto, 25rem) minmax(auto, 25rem) minmax(
      auto,
      25rem
    );
  grid-template-rows: auto auto;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}

.header {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.header > p {
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
}
.upperHeader {
  font-size: 2rem;
  font-weight: 200;
}
.lowerHeader {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.grid2 {
  display: grid;
  grid-template-columns: 1;
  gap: 2.5rem;
}

.grid3 {
}

.grid31 {
}
.grid32 {
}

.grid4 {
}

@media screen and (min-width: 1240px) {
  .box {
    grid-template-columns: minmax(auto, 25rem) minmax(auto, 25rem) minmax(
        auto,
        25rem
      );
    grid-template-rows: auto auto;
    gap: 2.5rem;
    align-items: center;
    padding: 0;
  }
  .grid1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .grid2 {
    grid-column-start: 2;
    grid-row-end: 2;
  }
  .grid3 {
    grid-column-start: 2;
    grid-row-end: 3;
  }
  .grid4 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .main {
    padding: 0;
  }
}

@media screen and (min-width: 300px) {
  .box {
    grid-template-columns: minmax(auto, 25rem);
  }
  .main {
    padding: 1rem;
  }
}

@media screen and (min-width: 786px) {
  .box {
    grid-template-columns: minmax(auto, 25rem) minmax(auto, 25rem);
  }
  .main {
    padding: 0;
  }
}
